{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Choice
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}

{% block content %}


    {% formfield player.ct_actual_amount with label="Amount paid to the other player for succesful cooperation (can be different from the promised amount):" %}
    {% next_button %}



{% endblock %}
